body{
    background-color: #fffcfc;
}

.card-header{
    background-color: #49608f;
    color: white;
}
.card-header p{
    font-size: 12px;
}

.card-header .left{
    float: left;
    width: 48%;
    margin-bottom: 0;
}

.card-header .right{
    float: right;
    width: 48%;
    text-align: right;
    margin-bottom: 0;
}

.card-body{
    display: inline-block;
    text-align: center;
    background-color: #f5f6f7;
}

.moneda{
    color: grey;
    font-size: 20px;
}

.boton{
    display: inline-block;
    cursor: pointer;
    border: #6683bd 2px solid;
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

.boton:hover{
    background-color: #e3e6e8;
}

div.botones_container{
    margin-top: 7px;
    text-align: center;
    font-size: 30px;
    color: #6683bd;
}

div.botones_container p{
    font-size: 11px;
    color: #6683bd;
}

[id^='info_button_']{
    color: #49608f;
    border-color: #49608f;
    width: 75px;
    height: 75px;
    font-size: 33px;
}

[id^='info_button_'] p{
    color: #49608f;
}

div.detalle{
    margin-top: 16px;
    width: 100%;
    display: none;
    text-align: center;
}

.debito{
    color: #b30000 !important;
}

[id^='detalle_']{
    cursor: pointer;
    color: #6683bd !important;
}

[id^='detalle_account_']{
    cursor: default;
}

[id^='detail_comment_']{
    display: none;
    cursor: default;
}


/*Apartado que controla las pantallas
de celulares*/
@media only screen and (max-width: 767px) {
    div.botones_container{
        font-size: 25px;
    }

    div.botones_container p{
        font-size: 9px;
    }

    .boton{
        width: 65px;
        height: 65px;
    }

    [id^='info_button_']{
        width: 67px;
        height: 67px;
        font-size: 27px;
    }

    table{
        font-size: 10px;
    }
}
